body {
  color: #6c6c6c;
}

.profile_container {
  margin: 10px auto;
  width: 70%;
  color: #626262;
}

.cover {
  width: 100%;
  border-radius: 6px;
}

.profile_info {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px;
  overflow: hidden;
  border-radius: 4px;
}

.profile_info_leftside {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile_info_leftside > img {
  width: 20%;
}

.profile_info_leftside_info > img {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.profile_info_leftside_info > h3 {
  font-size: 22px;
  letter-spacing: 3px;
  margin-bottom: 6px;
  font-weight: 900;
}

.profile_info_leftside_info > p {
  margin-bottom: 6px;
  font-weight: 600;
}

.profile_info_righttside_details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.profile_info_righttside_details .profile_btns {
  display: flex;
  gap: 10px;
}

.profile_btns #add_friends,
.profile_btns #msg {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.profile_btns #add_friends {
  background: #6c6c6c;
}

.btn_details > img {
  width: 20px;
}

.btn_details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile_btns #msg {
  background: #1876f2;
  color: #fff;
}

.profile_info_righttside_details button {
  align-self: end;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

.profile_info_righttside_details button > img {
  width: 25px;
}

/* content */
.profile_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.profile_content_leftcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  align-items: center;
  flex-basis: 35%;
}

.profile_content .content_leftside,
.content_gallery {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}

.content_intro {
  margin-bottom: 20px;
}

.content_intro h3 {
  font-weight: 700;
  font-size: 1.3rem;
}

.content_intro p {
  text-align: center;
  margin-top: 6px;
  font-weight: 600;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}

.content_intro p > img {
  width: 15px;
  vertical-align: middle;
}

.content_list ul {
  list-style: none;
  width: 100%;
}

.content_list ul li {
  padding-bottom: 10px;
}

.content_list_items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content_list_items > img {
  width: 30px;
}

.content_list_items > p {
  font-weight: 600;
}

/* gallery */
.gallery_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery_title h3 {
  font-weight: 700;
  font-size: 1.4rem;
}

.gallery_title a {
  font-weight: 500;
  color: #1876f2;
  text-decoration: none;
  font-size: 1.1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.gallery-item {
  width: calc((100% - 30px) / 3);
  overflow: hidden;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item p {
  margin-top: 6px;
  font-weight: 600;
}

.content_gallery > p {
  font-weight: 600;
  font-size: 14px;
}
.profile_content .content_rightside {
  flex-basis: 63%;
  align-self: flex-start;
}

/* dark mode */
.profile_info.dark,
.content_gallery.dark,
.content_leftside.dark,
.userPost.dark {
  background-color: #000;
}
